body {
  box-sizing: border-box;
  font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI",
    Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial,
    sans-serif;
}

.form-control:focus,
.form-select:focus {
  box-shadow: blueviolet 0 0 3px;
}
.logoBg {
  background-color: rgb(120, 39, 253);
}
.bgLinear {
  background: linear-gradient(90deg, rgb(126, 35, 253), rgb(82, 57, 247));
  border: none;
}
.w40 {
  width: 40px;
}
.w-h45 {
  width: 45px;
  height: 45px;
  background-color: aqua;
}
.w-h55 {
  width: 55px;
  height: 55px;
  background-color: aqua;
}
.boxShadow {
  box-shadow: 0 0.5px 5px rgba(128, 128, 128, 0.322);
}
.tst:hover {
  box-shadow: 0 7px 10px rgba(128, 128, 128, 0.241);
}
.fs-10 {
  font-size: 10px;
}
.postionTop {
  top: -2px;
  right: -2px;
}
.postionBottom {
  bottom: -2px;
  right: -2px;
}
.btn-primary:hover {
  transform: translatey(-5px);
  box-shadow: 0 5px 5px rgb(126, 35, 253);
}
.btn-primary {
  transition: all 0.4s;
}
